table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
 .fiximg{
   width: 40px;
   height: 40px;

 }
.siz{
  width: 100%;
}
.fil{
  position: absolute;
  width: 230px;
  right: 185px;
  margin-top: 10px;
}
.fixsizefo {
  width: 400px;
}